# .gitignore

# Ignore node_modules for the backend
/Backend/node_modules

# Ignore node_modules for the frontend
/Aarogya_Bharat/node_modules

/Aarogya_Bharat/.env

/Backend/.env

/QRCode_Backend/node_modules


/QRCode/node_modules

/server/node_modules