:root {
  --background: 210 100% 6%;
  --foreground: 180 100% 90%;
  --primary: 200 100% 28%;
  --primary-foreground: 180 100% 90%;
  --secondary: 203 23% 30%;
  --secondary-foreground: 180 100% 90%;
  --accent: 198 70% 50%;
  --accent-foreground: 185 10% 13%;
  --destructive: 0 98% 44%;
  --destructive-foreground: 0 0% 100%;
  --muted: 200 50% 30%;
  --muted-foreground: 180 100% 90%;
  --card: 210 100% 12%;
  --card-foreground: 180 100% 90%;
  --popover: 210 100% 15%;
  --popover-foreground: 180 100% 90%;
  --border: 210 50% 40%;
  --input: 210 50% 40%;
  --ring: 180 100% 90%;
  --chart-1: 200 100% 28%;
  --chart-2: 201 99% 25%;
  --chart-3: 203 98% 22%;
  --chart-4: 204 100% 18%;
  --chart-5: 206 100% 15%;
  --radius: 0rem;
}
img[src="/placeholder.svg"],
img[src="/placeholder-user.jpg"] {
  filter: sepia(0.3) hue-rotate(-150deg) saturate(0.5) opacity(0.5) invert(0.9);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
  --font-sans-serif: "Bricolage Grotesque"; 

}

input {
  color: black;
}

body {
  font-family: "Space Mono", monospace;
  --font-monospace: "Space Mono";
  color: #abebef;
}

.indigo-200 {
  background-color: #c7d2fe;
}

.green-200 {
  background-color: #bbf7d0;
}

.red-200 {
  background-color: #fecaca;
}

.yellow-200 {
  background-color: #fef08a;
}